html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #85A5D4;
}

.content > .columns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #FFF;
    height: 500px;
    border-radius: 5px;
    text-align: center;
}

.content > .columns > .column-wrapper {
    float: left;
    width: 33.333%;
    margin-top: 70px;
    transition: 0.4s;
}

.content > .columns > .column-wrapper:hover {
    background-color: #F6F6F6;
    border-radius: 5px;
}

.columns > .column-wrapper:last-child {
    float: right;
}

.column-wrapper > .column {
    width: 65%;
    margin: auto;
}

.column-wrapper > .column > .device {
    width: 100px;
}

.column p.description {
    line-height: 25px;
    color: #A9A9A9;
}

.column h2 {
    color: #6D5FAD;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.column .currency {
    color: #6D5FAD;
}

.currency > .number {
    font-size: 30px;
    font-weight: 600;
}

.currency > sup {
    font-weight: 800;
    font-size: 15px;
}

.columns > .btn-wrapper {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.columns button.btn-feedback {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #295AFF;
    color: white;
    cursor: pointer;
}

/* Media queries */
@media(max-width: 1890px) {
    .content > .columns > .column-wrapper {
        margin-top: 40px;
    }
}

@media(max-width: 1490px) {
    .content > .columns > .column-wrapper {
        margin-top: 40px;
    }
    .column-wrapper > .column {
        width: 75%;
    }
}

@media(max-width: 1280px) {
    .content > .columns > .column-wrapper {
        margin-top: 30px;
    }
    .column-wrapper > .column {
        width: 85%;
    }
}

@media(max-width: 955px) {
    .content > .columns > .column-wrapper {
        margin-top: 0;
    }
}

@media(max-width: 835px) {
    .content > .columns {
        overflow: auto;
        height: 700px;
    }
    .content > .columns > .column-wrapper {
        float: none;
        width: 100%;
        overflow: auto;
    }
    .columns > .btn-wrapper {
        position: relative;
        bottom: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Modal window*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 5px;
}

.modal-content .device {
    width: 100px;
}

.modal-content h2 {
    margin-bottom: 0;
    margin-top: 20px;
}

.confirmation {
    display: inline-block;
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 30px;
}

.close {
    width: 15px;
    float: right;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.modal-content .btn-wrapper-modal {
    text-align: center;
}

.modal-content button.btn-feedback {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #295AFF;
    color: white;
    cursor: pointer;
}